Repository mlcommons/algorithmic-efficiency, pull requests merged in 2022-12, with the labels that each got.

#269 Fix occasional hanging for PyTorch workloads
  README.md
  algorithmic_efficiency/pytorch_utils.py
  algorithmic_efficiency/workloads/mnist/mnist_jax/workload.py
  algorithmic_efficiency/workloads/mnist/mnist_pytorch/workload.py
  algorithmic_efficiency/workloads/mnist/workload.py
  submission_runner.py
Labels: 🔥 PyTorch, 🐛 Bug

#270 Speed-up beam search code for WMT PyTorch
  algorithmic_efficiency/workloads/wmt/wmt_jax/decode.py
  algorithmic_efficiency/workloads/wmt/wmt_jax/workload.py
  algorithmic_efficiency/workloads/wmt/wmt_pytorch/decode.py
  algorithmic_efficiency/workloads/wmt/wmt_pytorch/workload.py
  algorithmic_efficiency/workloads/wmt/workload.py
Labels: 🔥 PyTorch

#273 Modify Mixup implementation
  algorithmic_efficiency/workloads/imagenet_resnet/imagenet_jax/input_pipeline.py
  algorithmic_efficiency/workloads/imagenet_resnet/imagenet_jax/workload.py
  algorithmic_efficiency/workloads/mnist/mnist_pytorch/workload.py
  algorithmic_efficiency/workloads/mnist/workload.py
Labels: 🧱 JAX
