Repository mlcommons/algorithmic-efficiency, pull requests merged in 2022-08, with the labels that each got.

#102 Clean up & Fix bugs in imagenet_vit
  algorithmic_efficiency/workloads/imagenet_resnet/imagenet_jax/workload.py
  algorithmic_efficiency/workloads/imagenet_vit/imagenet_jax/models.py
  algorithmic_efficiency/workloads/imagenet_vit/imagenet_jax/workload.py
  algorithmic_efficiency/workloads/imagenet_vit/imagenet_pytorch/models.py
  algorithmic_efficiency/workloads/imagenet_vit/imagenet_pytorch/workload.py
  reference_submissions/imagenet_vit/imagenet_jax/submission.py
  reference_submissions/imagenet_vit/imagenet_pytorch/submission.py
  reference_submissions/imagenet_vit/tuning_search_space.json
Labels: 🐛 Bug

#116 Remove `torch-scatter` requirement
  README.md
  algorithmic_efficiency/workloads/ogbg/ogbg_pytorch/models.py
  setup.cfg
Labels: 🔥 PyTorch, ✨ Feature Request

#123 Fix Jax WMT workload
  algorithmic_efficiency/workloads/wmt/wmt_jax/workload.py
  reference_submissions/wmt/wmt_jax/submission.py
Labels: 🧱 JAX, 🐛 Bug

#120 Jax FastMRI
  algorithmic_efficiency/workloads/fastmri/fastmri_jax/__init__.py
  algorithmic_efficiency/workloads/fastmri/fastmri_jax/input_pipeline.py
  algorithmic_efficiency/workloads/fastmri/fastmri_jax/models.py
  algorithmic_efficiency/workloads/fastmri/fastmri_jax/workload.py
  algorithmic_efficiency/workloads/fastmri/fastmri_pytorch/workload.py
  algorithmic_efficiency/workloads/imagenet_resnet/imagenet_jax/workload.py
  reference_submissions/fastmri/fastmri_jax/__init__.py
  reference_submissions/fastmri/fastmri_jax/submission.py
  setup.cfg
  tests/reference_submission_tests.py
Labels: 🧱 JAX, ⚙️ Workload
